@inherits CompositeC1Contrib.FormBuilder.Web.UI.StandardFormsPage

@if (IsSuccess && (SuccessResponse != null && !SuccessResponse.IsEmpty))
{
    @Html.C1().Markup(SuccessResponse)
}
else
{    
    @Html.C1().Markup(IntroText)

    using (BeginForm(new { @class = "form-horizontal" }))
    {
        @WriteErrors()

        @WriteAllFields()
    
        <div class="control-group submit-buttons">
		    <div class="controls">
			    <input type="submit" name="SubmitForm" class="btn btn-primary" value="@RenderingModel.SubmitButtonLabel" />
		    </div>
	    </div>
    }
}