@inherits CompositeC1Contrib.FormBuilder.Web.UI.StandardFormsPage

@{
    FormRenderer.Horizontal = true;
}

@if (IsSuccess && (SuccessResponse != null && !SuccessResponse.IsEmpty))
{
    @EvaluateMarkup(SuccessResponse.Root)
}
else
{
    @EvaluateMarkup(IntroText.Root)

    using (BeginForm())
    {
        @ValidationSummary()
        @WriteAllFields()
        @WriteCaptcha()

        if (FormRenderer.Horizontal)
        {
            <div class="form-group">
                <div class="col-sm-offset-@FormRenderer.LabelWidth col-sm-@(12 - FormRenderer.LabelWidth)">
                    <button type="submit" name="SubmitForm" class="btn btn-default">@Form.SubmitButtonLabel</button>
                </div>
            </div>
        }
        else
        {
            <button type="submit" class="btn btn-default">Submit</button>
        }
    }
}