@inherits CompositeC1Contrib.FormBuilder.Web.UI.StandardFormsPage

@if (IsSuccess && (SuccessResponse != null && !SuccessResponse.IsEmpty))
{
    @EvaluateMarkup(SuccessResponse.Root)
}
else
{
    @EvaluateMarkup(IntroText.Root)

    using (BeginForm(new { @class = "form-horizontal" }))
    {
        @WriteErrors()
        @WriteAllFields()
        @WriteCaptcha()

        <div class="control-group submit-buttons">
            <div class="controls">
                <input type="submit" name="SubmitForm" class="btn btn-primary" value="@Form.SubmitButtonLabel" />
            </div>
        </div>
    }
}